.heroBanner {
  position: relative;
  padding: 0 !important;

  height: 786px;
  min-height: 786px;

  width: 100%;
  overflow: hidden;
  background-color: #020202;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
  z-index: 1;
}

.heroMask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
  background:
          linear-gradient(to right, #020202 0%, transparent 10%, transparent 90%, #020202 100%),
          linear-gradient(to top, #020202 0%, transparent 20%);
}

@media (max-width: 768px) {
  .heroBanner {
    height: 500px;
    min-height: 500px;
  }
}